a{
    text-decoration: none;
    color: inherit;
}

header{
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 20px;
    height: 90px;
}


.hd_style{
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    margin-left: 0.25em;
}
.col-0point5 {width: 5%;}
.learn{
    color:#ff9933;

}

.more{
 color: #9999ff;
}

.explore{
    color: #99cc99;
}

.our{
    color: #a1a1a1;

}


.courses{
    color: #669966;
}

.side_menu_el{
    margin-top: 65px;

}

.hat{
    margin-top: 30px;
    height: 40px;

}

.card_size{
    height:100%;
    
}



.info{
    padding-right: 1.5rem;
    padding-left:  1.5rem;
}

.digit{
    font-weight: bold;
    font-size: 35px;
}



.tabs{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 17px ;
    font-weight: bold;
    color: #333333;
    height: 13em;
    width: 35px;
    border-radius: 0 10px 10px 0;
}

.tabs1{
    background: #ffffad;

}

.tabs2{
    background: #adadff;

}
.tabs3{
    background: #add685;

}


.deadlines{
    display: flex;
    background: #85ad33;
    justify-content: center;
    color: white;
    font-weight: bold;
    height:40px;
    border-radius: 10px 10px 0 0;


}

.exams{
    display: flex;
    background: #6666cc ;
    justify-content: center;
    color: white;
    font-weight: bold;
    height:40px;
    border-radius: 10px 10px 0 0;
}
.op70{
    opacity: 70%;

}
.puk{
    background-color: #cc6600;  
}



.sidenav {


    height: 100%; /* 100% Full-height */
    width: 0; /* 0 ширина - изменить это с помощью JavaScript */
    position: fixed; /* Оставайтесь на месте */
    z-index: 1; /* Оставайтесь сверху */
    top: 0; /* Оставайтесь наверху */
    right: 0;
    background-color: white; /* Фон черный*/
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 60px; /* Поместите контент в 60px сверху */
    transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */
  }

  
  /* Положение и стиль кнопки закрытия (верхний правый угол) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }







.schedule{
    display: flex;
    background: #cc6600;
    justify-content: center;
    color: white;
    font-weight: bold;

    height:40px;
    border-radius: 10px 10px 0 0;

}
.h30{
    height: 40px;
}

.lists{
    justify-content: center;
    display: flex;
    background: #f3f3f3;
    width: 100%;
    font-size: small;
    border-radius: 10px;

}

.text_digit{
    font-size:11pt;
     line-height:1.3;
}

.vtabs{
    margin-top: 10px;

}
.border_arrows_search{
    border-radius: 5px;
    border-color: #a1a1a1;

}
.dropdown_button{
    border-radius: 10px;
    color: #669966;
    border-color: #669966;
    font-size: 9pt;
}

.my-courses{
    font-size: 20pt;
    color: #13023f;
    font-weight: bold;

}
.description_font{
    color: #666666;
    font-size: 9pt;
}
.radius_width_r_tabs{
    border-radius: 10px 0 0 10px;
    width: 25px;
}
.arrows{
    margin-bottom: auto;
    margin-top: auto;
}


.box{
    width: 40px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
}


.titlecard{
    font-weight: bold;
    font-size: 10pt;


}


.dot {
    height: 12px;
    width: 12px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}

.current{
    font-weight: bold;
    color: #ff9814;
}


.slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    text-decoration : none; color : #2d2f31;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li{
    text-decoration : none; color : #2d2f31;
}


.touch {position: absolute; opacity: 0; height: 0px;}

.touch:checked + .slide {height: 300px;}

.course-part{
    background: hotpink;

}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.chapter{
    
    border-width: 1px;
    border-style: solid;
    border-color: #ff99cc;

}

.chapter-left-col{
    width: 6px;
    background: #ff99cc;
    

}

.part-style{
    width: 100%;
    font-weight: bold;
    font-size: 10pt;
    color: #ff99cc;

}

.subchapter{
    background: whitesmoke;
    font-size: 10pt;
}

.course-upper{
    font-size: 11pt;
    
    color: #5c636a;
    font-family: Arial;
}

.chapter-detail{

    border-top: #dee2e6 solid 3px;
    border-left: #dee2e6 solid 3px;
    border-right: #dee2e6 solid 3px;
    border-radius: 8px 8px 0px 0px;

}

.subchapter-detail{
    border-left: #dee2e6 solid 3px;
    border-right: #dee2e6 solid 3px;
    border-top: #dee2e6 solid 1px;
}

.last-border{
    border-bottom: #dee2e6 solid 3px;
    border-radius: 0px 0px 16px 16px;
}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}




