a{
    text-decoration: none;
    color: inherit;
}

header{
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 20px;
    height: 90px;
}


.hd_style{
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    margin-left: 0.25em;
}
.col-0point5 {width: 5%;}
.learn{
    color:#ff9933;

}

.more{
 color: #9999ff;
}

.explore{
    color: #99cc99;
}

.our{
    color: #a1a1a1;

}


.courses{
    color: #669966;
}

.side_menu_el{
    margin-top: 65px;

}

.hat{
    margin-top: 30px;
    height: 40px;

}

.card_size{
    height:100%;
    
}



.info{
    padding-right: 1.5rem;
    padding-left:  1.5rem;
}

.digit{
    font-weight: bold;
    font-size: 35px;
}



.tabs{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 17px ;
    font-weight: bold;
    color: #333333;
    height: 13em;
    width: 35px;
    border-radius: 0 10px 10px 0;
}

.tabs1{
    background: #ffffad;

}

.tabs2{
    background: #adadff;

}
.tabs3{
    background: #add685;

}


.deadlines{
    display: flex;
    background: #85ad33;
    justify-content: center;
    color: white;
    font-weight: bold;
    height:40px;
    border-radius: 10px 10px 0 0;


}

.exams{
    display: flex;
    background: #6666cc ;
    justify-content: center;
    color: white;
    font-weight: bold;
    height:40px;
    border-radius: 10px 10px 0 0;
}
.op70{
    opacity: 70%;

}
.puk{
    background-color: #cc6600;  
}



.sidenav {


    height: 100%; /* 100% Full-height */
    width: 0; /* 0 ширина - изменить это с помощью JavaScript */
    position: fixed; /* Оставайтесь на месте */
    z-index: 1; /* Оставайтесь сверху */
    top: 0; /* Оставайтесь наверху */
    right: 0;
    background-color: white; /* Фон черный*/
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 60px; /* Поместите контент в 60px сверху */
    transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */
  }

  
  /* Положение и стиль кнопки закрытия (верхний правый угол) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }





.display_mode{
   visibility: visible;
}
.schedule_min{
    background:  linear-gradient(90deg, rgba(204,102,0,1) 0%, rgba(201,126,51,1) 65%, rgba(228,147,66,1) 100%);
    height:25px;
}
.deadlines_min{
    background: linear-gradient(90deg, rgba(133,173,51,1) 0%, rgba(162,198,90,1) 65%, rgba(169,205,96,1) 100%);
    
    height:25px;
}
.exams_min{
    background: linear-gradient(90deg, rgba(102,102,204,1) 0%, rgba(116,116,221,1) 65%, rgba(146,146,237,1) 100%);
    height:25px;
    
}
.schedule{
    display: flex;
    background: #cc6600;
    justify-content: center;
    color: white;
    font-weight: bold;

    height:40px;
    border-radius: 10px 10px 0 0;

}
.h30{
    height: 40px;
}

.lists{
    justify-content: center;
    display: flex;
    background: #f3f3f3;
    width: 100%;
    font-size: small;
    border-radius: 10px;

}

.text_digit{
    font-size:11pt;
     line-height:1.3;
}

.vtabs{
    margin-top: 10px;

}
.border_arrows_search{
    border-radius: 5px;
    border-color: #a1a1a1;

}
.dropdown_button{
    border-radius: 10px;
    color: #669966;
    border-color: #669966;
    font-size: 9pt;
}

.my-courses{
    font-size: 20pt;
    color: #13023f;
    font-weight: bold;

}
.description_font{
    color: #666666;
    font-size: 9pt;
}
.radius_width_r_tabs{
    border-radius: 10px 0 0 10px;
    width: 25px;
}
.arrows{
    margin-bottom: auto;
    margin-top: auto;
}


.box{
    width: 40px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
}


.titlecard{
    font-weight: bold;
    font-size: 10pt;


}


.dot {
    height: 12px;
    width: 12px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}

.current{
    font-weight: bold;
    color: #ff9814;
}


.slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    text-decoration : none; color : #2d2f31;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li{
    text-decoration : none; color : #2d2f31;
}


.touch {position: absolute; opacity: 0; height: 0px;}

.touch:checked + .slide {height: 300px;}

.course-part{
    background: hotpink;

}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.chapter{
    
    border-width: 1px;
    border-style: solid;
    border-color: #ff99cc;

}



.part-style{
    width: 100%;
    font-weight: bold;
    font-size: 10pt;
    color: #ff99cc;

}

.subchapter{
    background: whitesmoke;
    font-size: 10pt;
}

.course-upper{
    font-size: 11pt;
    
    color: #5c636a;
    font-family: Arial;
}

.chapter-detail{

    border-top: #dee2e6 solid 2px;
    border-left: #dee2e6 solid 2px;
    border-right: #dee2e6 solid 2px;
    border-radius: 8px 8px 0px 0px;
    

}
.subchapter_tasks-detail{
    font-size: 15px;
}
.subchapter_tasks{
    font-size: 13px;
}
.subchapter-detail{
    border-left: #dee2e6 solid 2px;
    border-right: #dee2e6 solid 2px;
    border-top: #dee0e66c solid 1px;
    
    
}
.subchapter-detail_font{
    letter-spacing: 0.1em;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.last-border{
    border-bottom: #e6dee3 solid 2px;
    border-radius: 0px 0px 16px 16px;
}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}


.cl-btn-7 {
    width: 30px;
    height: 30px;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
}
.cl-btn-7:before {
    content: '+';
    color: white;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 35px;
    line-height: 1;
    top: 1px;
    left: 5px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn-7:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: coral;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.side_nav_close{
    background-color: grey;
    height:40px;
}
.cl-btn-7:hover:after {
    transform: scale(1);
}
.button_open_right_menu_style{
    border-radius:20px;
    width:40px;
    height:40px;
    background-color: white;


}
.button_right_hover:hover {
    transform: scale(0.9) rotate(90deg);
    
}

.cl-btn-7:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}
.banner-font{
    font-size: 15pt;
    font-family:sans-serif;
    font-style: italic;
}
.banner-button{
    background: white;
    height: 40px;
    border:1px solid black;
    width: 150px;
    color:black;
    border-radius: 15px;
    font-weight: bold;
    font-size: 17pt;
    font-style: normal;
}
.banner-text{
    font-size: 18pt;
    color: #cb9af5;
    font-weight: bold;
}

.search_row{
    height: 40px;
    border-radius: 10px;
    border:  1px solid  grey;
    color:grey;
    
}
.search_w_h{
    height: 40px;
    width: 40px;
}
.main-header{
    font-size: 25pt;
    color: darkblue;
    font-weight: bold;
}

div > .blocks > div > .b{
    height: 110pt;
    width: 118pt;
    margin: 0px 0px;
    border-radius: 10px ;
    position: relative;

}
@media only screen and (min-width: 1800px) {
    div > .blocks > div > .b{
        height: 140pt;
        width: 155pt;
    }
    .subject_font > .col-7{
        font-size: 20pt;
    }
    }
@media only screen and (max-width: 1426px) {
        div > .blocks > div > .b{
            height: 120pt;
            width: 100pt;
        }
        .subject_font > .col-7{
            font-size: 15pt;
        }
        }
    

.subject_font{
    color: white;
    font-size: 13pt;
    font-weight: bold;
    height:50px;
    text-align: left;
    line-height: 1.1;
}
.see_more{
    color: white;
    position: absolute;
    top: 80%;
    left: 45%;
    text-decoration: underline;
}
.cards-font{
    color: white;
    font-size: 10pt;
    font-weight: bold;
}
.b1{
    background-color: black;
}
.b2{
    background-color: green;
}
.b3{
    background-color: purple;
}
.b4{
    background-color: pink;
}
.b5{
    background-color: orange;
}
.cont{

        max-width: 100%;
        overflow-x: hidden;

}
.circle{
    background-color: white;
    width: 30px;
    height:30px;
    border-radius: 100%;
    border-width:2px;
    padding: 4px;
}
.circle_c{

    width: 20px;
    height:20px;
    border-radius: 100%;


}
.see_more > a:hover{
    color:white;
    font-weight: bold;
}
.pop-courses-header{
    font-size: 11pt;
    color: #13023f;
    font-weight: bold;
}
header{
    max-width: 100%;
    overflow-x: hidden;
}
.hhh{
    background: linear-gradient(90deg, rgba(219,249,212,1) 0%, rgba(255,252,211,1) 15%, rgba(252,230,250,1) 39%, rgba(234,238,251,1) 58%, rgba(255,244,220,1) 78%, rgba(255,255,255,1) 100%);
}
.hh{
    background: white;
}
.list-font{
    font-size: 13pt;
}
.pop-hov:hover{
border:1px solid black;
border-radius: 5%;
}


