

header{
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 20px;
    height: 90px;
}


.hd_style{
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    margin-left: 0.25em;
}
.col-0point5 {width: 5%;}
.learn{
    color:#ff9933;

}

.more{
 color: #9999ff;
}

.explore{
    color: #99cc99;
}

.our{
    color: #a1a1a1;

}


.courses{
    color: #669966;
}

.side_menu_el{
    margin-top: 65px;

}

.hat{
    margin-top: 30px;
    height: 40px;

}

.card_size{
    height:100%;
    
}



.info{
    padding-right: 1.5rem;
    padding-left:  1.5rem;
}

.digit{
    font-weight: bold;
    font-size: 35px;
}



.tabs{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 17px ;
    font-weight: bold;
    color: #333333;
    height: 13em;
    width: 35px;
    border-radius: 0 10px 10px 0;
}

.tabs1{
    background: #ffffad;

}

.tabs2{
    background: #adadff;

}
.tabs3{
    background: #add685;

}


.deadlines{
    display: flex;
    background: #85ad33;
    justify-content: center;
    color: white;
    font-weight: bold;
    height:40px;
    border-radius: 10px 10px 0 0;


}

.exams{
    display: flex;
    background: #6666cc ;
    justify-content: center;
    color: white;
    font-weight: bold;
    height:40px;
    border-radius: 10px 10px 0 0;
}
.op70{
    opacity: 70%;

}
.schedule{
    display: flex;
    background: #cc6600;
    justify-content: center;
    color: white;
    font-weight: bold;

    height:40px;
    border-radius: 10px 10px 0 0;

}
.h30{
    height: 40px;
}

.lists{
    justify-content: center;
    display: flex;
    background: #f3f3f3;
    width: 100%;
    font-size: small;
    border-radius: 10px;

}

.text_digit{
    font-size:11pt;
     line-height:1.3;
}

.vtabs{
    margin-top: 10px;

}
.border_arrows_search{
    border-radius: 5px;
    border-color: #a1a1a1;

}
.dropdown_button{
    border-radius: 10px;
    color: #669966;
    border-color: #669966;
    font-size: 9pt;
}
.vtabs1{
    margin-top: 75px;

}
.my-courses{
    font-size: 20pt;
    color: #13023f;
    font-weight: bold;

}
.description_font{
    color: #666666;
    font-size: 9pt;
}
.radius_width_r_tabs{
    border-radius: 10px 0 0 10px;
    width: 25px;
}
.arrows{
    margin-bottom: auto;
    margin-top: auto;
}


.box{
    width: 40px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
}


.titlecard{
    font-weight: bold;
    font-size: 10pt;


}


.dot {
    height: 12px;
    width: 12px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}

.current{
    font-weight: bold;
    color: #ff9814;
}


.slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    text-decoration : none; color : #2d2f31;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li{
    text-decoration : none; color : #2d2f31;
}


.touch {position: absolute; opacity: 0; height: 0px;}

.touch:checked + .slide {height: 300px;}

.course-part{
    background: hotpink;

}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}





